html, body{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
    height: 100%;
    width: 100%;
	user-select: none;
    font-family: 'Work Sans', sans-serif;
    -webkit-user-drag: none;
    -moz-window-dragging: none;
}

img {
    -moz-window-dragging: none;
    -webkit-user-drag: none;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    width: 100%;
}

#menu {
    z-index: 1;
    display: none;
    position: absolute;
    right: 30px;
    top: 30px;
}

#menu ul li {  
    margin: 5px 0px;
    text-align: right;
}

#menu ul li a {
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

#menu ul li a:hover {
	border-left: 3px solid white;
	padding-left: 5px;
}

/* JS code */
#menu ul li.active a {
	border-bottom: 3px solid white;
}

#menu ul li.active a:hover {
	border-left: none;
}

article {
    width: 70%;
}

#synopsis > #intro > .container {
   margin-top: 15%;
}

a:hover {
    text-decoration: none;
}

.logo-film {
    width: 100%;
}

.text-synopsis {
    color: white;
}

.logo-film > img{
    margin: 0 auto;
    height: 200px;
    margin-bottom: -30px;
}

.bg-container {
    width: 100%;
    height: 100%;
}

.slide-bg {
    z-index: -1;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    transition: opacity 1s ease-in-out;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0;
}

.show {
    opacity: 1;
}

.container-content {
    display: none;
}

#logo-film-intro {
    height: 400px;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-56%,-50%);
    position:  absolute;
}

#intro-logo #logo-film-intro img{
    display: none;
    height: 350px;
    position: absolute;
}

#intro-logo #intro-btn {
    height: 600px;
    width: 400px;   
    top: 50%;
    left: 50%;
    transform: translate(-25%,18%);
    position:  absolute;
}

#intro-logo #intro-btn #start {
    font-size:  15px;
    background:  none;
    border: 2px solid white;
    border-radius: 5px;
    font-weight: bold;
    width: 200px;
    height: 45px;
    color: white;
    display: none;
    cursor: pointer;
}

#crew #crew-text h1 {
    font-family: 'Signika', sans-serif;
    margin-top: 8%;
    color: white;
    padding-bottom: 35px;
}

.text-synopsis {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;
}

.crew-text-detail {
    margin-bottom: 20px;
}

.crew-text-detail p {
    color: white;
    margin-bottom: 0;
}

.img-farhan {
    background: url('/images/farhan.jpeg') no-repeat;
    background-size: cover;
    width:200px;
    height: 200px;
    border-radius:50%;
    margin-bottom: 12px;
}

.img-dika {
    background: url('/images/dika.jpeg') no-repeat;
    background-size: cover;
    width:200px;
    height: 200px;
    border-radius:50%;
    margin-bottom: 12px;
}

.img-luqman {
    background: url('/images/luqman.JPG') no-repeat;
    background-size: cover;
    width:200px;
    height: 200px;
    border-radius:50%;
    margin-bottom: 12px;
}

.img-sherwin {
    background: url('/images/sherwin.JPG') no-repeat;
    background-size: cover;
    width:200px;
    height: 200px;
    border-radius:50%;
    margin-bottom: 12px;
}

.img-stephen {
    background: url('/images/stephen.jpg') no-repeat;
    background-size: cover;
    width:200px;
    height: 200px;
    border-radius:50%;
    margin-bottom: 12px;
}

.img-wendy {
    background: url('/images/wendy.JPG') no-repeat;
    background-size: cover;
    width:200px;
    height: 200px;
    border-radius:50%;
    margin-bottom: 12px;
}

#teaser #teaser-text h1 {
    font-family: 'Signika', sans-serif;
    margin-top: 8%;
    color: white;
    padding-bottom: 35px;
}

#movie #movie-text h1 {
    font-family: 'Signika', sans-serif;
    margin-top: 8%;
    color: white;
    padding-bottom: 35px;

}

#creditbar #credit-text h1 {
    font-family: 'Signika', sans-serif;
    margin-top: 8%;
    color: white;
    padding-bottom: 35px;
}

.text-thanks {
    color: white;
}

.text-thanks p {
    margin-bottom: 0px;
}